.home-page {
  position: relative;
  background-image: url("https://res.cloudinary.com/dtl6wlymb/image/upload/v1701315178/br0a3k8fyooompkfuvqv.jpg");
  background-size: cover;
  background-position: center;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.background-image {
  padding: 20px;
  border-radius: 10px;
}